SUPABASE_URL=https://dgfvsswirgdjwsrqjbab.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnZnZzc3dpcmdkandzcnFqYmFiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5OTU3NzEsImV4cCI6MjA5NTU3MTc3MX0.eJ1uAOiFrvb_RrxoqIWB2RGK_dOPPkRnMpLmOhnWLnE
PORT=3000
CACHE_TTL_MINUTES=30
